@font-face {
  font-family: 'icones';
  src: url(../../font/icones.ttf);
}

.cartao-recente {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: #2c343a;
}

.cartao-recente__titulo {
  font-size: 1.2rem;
  font-weight: 700;
  grid-column: span 2;
}

@media screen and (min-width: 1440px) {
  .cartao-recente {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    row-gap: 24px;
    width: 256px;
    padding: 16px;
    box-sizing: border-box;
    align-self: flex-start;
  }

  .cartao-recente__titulo {
    grid-column: auto;
  }

  .cartao-recente__link {
    font-size: 0.8rem;
    font-weight: 600;
    color: #0480dc;
    justify-self: flex-end;
  }

  .cartao-recente__lista {
    display: grid;
    row-gap: 16px;
    grid-column: span 2;
  }

  .cartao-recente__lista--item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
  }

  .cartao-recente__item--thumbnail {
    width: 32px;
    grid-row: span 2;
  }

  .cartao-recente__item--titulo {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 700;
  }

  .cartao-recente__item--perfil {
    font-size: 0.8rem;
    color: #95999c;
  }

  .cartao-recente__video {
    grid-area: videos-recentes;
  }

  .cartao-recente__venda {
    grid-area: vendas-recentes;
  }
}
