/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap'); */

body {
  background-color: #1d232a;
  color: #ffffff;
}

.principal {
  padding: 24px 16px;
  display: grid;
  gap: 16px;
}

.titulo-pagina {
  font-size: 1.5rem;
  font-weight: 700;
}

.secao {
  display: grid;
  gap: 16px;
}

.secao__titulo {
  font-size: 1.2rem;
  font-weight: 700;
}
