body {
  background-color: #1d232a;
  color: #ffffff;
}

.cartao-recente {
  display: none;
}

.principal {
  padding: 24px 16px;
  display: grid;
  gap: 16px;
}

.titulo-pagina {
  font-size: 1.5rem;
  font-weight: 700;
}

.secao {
  display: grid;
  gap: 16px;
}

.secao__titulo {
  font-size: 1.2rem;
  font-weight: 700;
}

@media screen and (min-width: 1440px) {
  .all {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .secao {
    grid-template-columns: repeat(4, 1fr);
  }

  .secao__titulo {
    grid-column: span 4;
  }

  .principal {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      'titulo-pagina titulo-pagina titulo-pagina'
      'destaque-video destaque-video videos-recentes'
      'secao-videos secao-videos secao-videos'
      'vendas-recentes destaque-venda destaque-venda'
      'secao-vendas secao-vendas secao-vendas';
    column-gap: 32px;
    padding: 32px 60px;
    grid-column: 2;
  }

  .cartao-recente {
    display: grid;
  }

  .secao__videos {
    grid-area: secao-videos;
  }

  .secao__vendas {
    grid-area: secao-vendas;
  }

  .titulo-pagina {
    grid-area: titulo-pagina;
  }
}
