@font-face {
  font-family: 'icones';
  src: url(../../font/icones.ttf);
}

.cartao-destaque {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: #2c343a;
}

.cartao-destaque__conteudo {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.cartao-destaque__titulo {
  font-size: 1.2rem;
  font-weight: 700;
  grid-column: span 2;
}

.cartao-destaque__perfil {
  color: #95999c;
  font-size: 0.9rem;
  grid-column: span 2;
}

.cartao-destaque__info {
  display: flex;
  align-items: center;
  color: #95999c;
}

.cartao-destaque__info--tempo::before {
  font-family: 'icones';
  content: '\e90c';
  margin-right: 8px;
}

.cartao-destaque__info--visualizacao::before {
  font-family: 'icones';
  content: '\e90f';
  margin-right: 8px;
}

.cartao-destaque__info--sifrao::before {
  font-family: 'icones';
  content: '\e905';
  margin-right: 8px;
}

.cartao-destaque__botao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0480dc;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 0.9rem;
}

.cartao-destaque__botao--play::before {
  font-family: 'icones';
  content: '\e90b';
  font-size: 24px;
}

.cartao-destaque__botao--carrinho::before {
  font-family: 'icones';
  content: '\e901';
  font-size: 24px;
}

.cartao-destaque__botao--destaque {
  width: 100%;
  grid-column: span 2;
}

.cartao-destaque__botao--destaque::before {
  margin-right: 8px;
}

.cartao-destaque__destaque {
  grid-column: span 2;
}

.cartao-destaque__imagem--desktop {
  display: none;
}

@media screen and (min-width: 1440px) {
  .cartao-destaque__imagem--desktop {
    display: block;
  }

  .cartao-destaque__imagem--mobile {
    display: none;
  }

  .cartao-destaque__botao {
    grid-column: auto;
    padding: 16px 8px;
  }

  .cartao-destaque__video {
    grid-area: destaque-video;
  }

  .cartao-destaque__venda {
    grid-area: destaque-venda;
  }
}
